<?xml version="1.0"?>
<configuration>
  <configSections>
    <remove name="resizer"/>
    <remove name="applicationSettings"/>
    <remove name="blowery.web"/>
    <remove name="urlrewritingnet"/>
    <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="pindex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="blowery.web">
      <section name="httpCompress" type="blowery.Web.HttpCompress.SectionHandler, blowery.Web.HttpCompress"/>
    </sectionGroup>
  </configSections>
  <location path="." inheritInChildApplications="false">
    <blowery.web>
      <httpCompress preferredAlgorithm="gzip">
        <excludedMimeTypes>
          <add type="image/jpeg"/>
          <add type="image/gif"/>
          <add type="image/png"/>
        </excludedMimeTypes>
      </httpCompress>
    </blowery.web>
    <resizer>
      <sizelimits totalBehavior="ignorelimits"/>
      <pipeline fakeExtensions=".ashx"/>
      <plugins>
        <add name="DiskCache">
          <diskCache dir="~/imagecache" autoClean="false" hashModifiedDate="false" enabled="true" subfolders="0" cacheAccessTimeout="15000" asyncWrites="true" asyncBufferSize="10485760"/>
        </add>
        <add name="image404">
          <image404 baseDir="~/img/pinjimu/"   />
        </add>
      </plugins>
    </resizer>
    <system.web>
      <compilation debug="true" batch="true" targetFramework="4.0">
      </compilation>
      <authentication mode="Windows"/>
      <customErrors mode="Off"></customErrors>
      <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
      <!--Prod-->
      <!--<httpModules>
        <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
        <add name="CompressionModule" type="blowery.Web.HttpCompress.HttpModule, blowery.web.HttpCompress" />
      </httpModules>-->
    </system.web>
    <system.webServer>
      <modules>
        <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
        <add name="CompressionModule" type="blowery.Web.HttpCompress.HttpModule, blowery.web.HttpCompress" />
      </modules>
      <urlCompression doDynamicCompression="true" doStaticCompression="true"/>
      <staticContent>
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      </staticContent>
    </system.webServer>
    <applicationSettings>
      <pindex.Properties.Settings>
        <setting name="ExecAllImages" serializeAs="String">
          <value>function getAttribute(tag, attr) { var elems = document.getElementsByTagName(tag); var urls = []; for (var i = 0, l = elems.length; i &lt; l; i++) {urls.push(elems[i][attr]);} return urls.join(',');};getAttribute('img', 'src') ;</value>
        </setting>
      </pindex.Properties.Settings>
    </applicationSettings>
  </location>
</configuration>
