<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<remove name="resizer" />
		<remove name="applicationSettings" />
		<remove name="blowery.web" />
		<remove name="urlrewritingnet" />
		<section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="pindex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="blowery.web">
			<section name="httpCompress" type="blowery.Web.HttpCompress.SectionHandler, blowery.Web.HttpCompress" />
		</sectionGroup>
		<section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" />
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<location path="." inheritInChildApplications="false">
		<blowery.web>
			<httpCompress preferredAlgorithm="gzip">
				<excludedMimeTypes>
					<add type="image/jpeg" />
					<add type="image/gif" />
				</excludedMimeTypes>
			</httpCompress>
		</blowery.web>
		<resizer>
			<sizelimits totalBehavior="ignorelimits" />
			<pipeline fakeExtensions=".ashx" />
			<plugins>
			</plugins>
		</resizer>
		<urlrewritingnet rewriteOnlyVirtualUrls="true" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
			<rewrites>
				<add name="userhome" virtualUrl="~/users/(.*)" redirect="Application" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/user?name=$1" ignoreCase="true" />
				<add name="user" virtualUrl="~/user" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/User.ashx" ignoreCase="true" />
				<add ignoreCase="true" virtualUrl="~/tagging/login" rewriteUrlParameter="ExcludeFromClientQueryString" name="tagging" destinationUrl="tagging/login.html" />
				<add ignoreCase="true" virtualUrl="~/home" rewriteUrlParameter="ExcludeFromClientQueryString" name="home" destinationUrl="default.aspx" />
				<add ignoreCase="true" virtualUrl="~/settings" rewriteUrlParameter="ExcludeFromClientQueryString" name="settings" destinationUrl="settings.aspx" />
				<add ignoreCase="true" virtualUrl="~/signup" rewriteUrlParameter="ExcludeFromClientQueryString" name="signup" destinationUrl="signupnew.html" />
				<add ignoreCase="true" virtualUrl="~/login" rewriteUrlParameter="ExcludeFromClientQueryString" name="login" destinationUrl="login.html" />
				<add ignoreCase="true" virtualUrl="~/hostpinparty" rewriteUrlParameter="ExcludeFromClientQueryString" redirect="Domain" name="hostpinparty" destinationUrl="/pindex/cdn/hostpinparty.html" />
				<add ignoreCase="true" virtualUrl="~/GET" rewriteUrlParameter="ExcludeFromClientQueryString" name="GET" destinationUrl="GET.ashx" />
				<add ignoreCase="true" virtualUrl="~/POST" rewriteUrlParameter="ExcludeFromClientQueryString" name="POST" destinationUrl="POST.ashx" />
				<add ignoreCase="true" virtualUrl="~/invite" rewriteUrlParameter="ExcludeFromClientQueryString" name="invite" destinationUrl="GET.ashx?t=invite" />
				<add ignoreCase="true" virtualUrl="~/changepassword" rewriteUrlParameter="ExcludeFromClientQueryString" name="changepassword" destinationUrl="changepassword.html" />
				<add ignoreCase="true" virtualUrl="~/boards" rewriteUrlParameter="ExcludeFromClientQueryString" name="boards" destinationUrl="boardthumbs.html" />
			</rewrites>
		</urlrewritingnet>
		<connectionStrings>
			<add name="PindexProdConnectionString" connectionString="Data Source=192.168.2.47;Initial Catalog=PindexProd;Persist Security Info=True;User ID=sa;password=password123!@#" providerName="System.Data.SqlClient" />
		</connectionStrings>
		<!--Prod-->
		<!--<connectionStrings>
      <add name="PindexProdConnectionString" connectionString="Data Source=161.58.92.137;Initial Catalog=PindexProd;Persist Security Info=True;User ID=sa;password=password123!@#" providerName="System.Data.SqlClient" />
    </connectionStrings>-->
		<!--<appSettings>
			<add key="pageSize" value="1000"/>
			<add key="passminchars" value="8"/>
			<add key="defaultpassword" value="password"/>
			<add key="domain" value="http://freshpindev.botcodelocal.com/"/>
			<add key="imagepath" value="D:\Projects\TempLocation\"/>
			<add key="uploadedimagepath" value="D:\Projects\TempLocation\"/>
			<add key="uploadedimagerelpath" value="http://freshpindev.botcodelocal.com/uploaded/"/>
			<add key="inviteurl" value="invite"/>
			<add key="authcookie" value="auth"/>
			<add key="infocookie" value="info"/>
			<add key="temp" value="D:\Projects\TempLocation\"/>
			<add key="reltemp" value="http://freshpindev.botcodelocal.com/temp/"/>
			<add key="contenturl" value="http://photogallery.botcodelocal.com/cdn/content/"/>
			<add key="contenturl1" value="http://photogallery.botcodelocal.com/cdn/content1/"/>
		</appSettings>-->
		<!--Staging-->
		<!--<appSettings>
      <add key="passminchars" value="8" />
      <add key="pageSize" value="1000" />
      <add key="defaultpassword" value="password" />
      <add key="domain" value="http://photogallery.botcodelocal.com/" />
      <add key="imagepath" value="J:\FreshPinProd\" />
      <add key="uploadedimagepath" value="J:\FreshPinProd\uploaded\" />
      <add key="uploadedimagerelpath" value="http://photogallery.botcodelocal.com/cdn/content/uploaded/" />
      <add key="inviteurl" value="invite" />
      <add key="authcookie" value="auth" />
      <add key="infocookie" value="info" />
      <add key="temp" value="J:\FreshPinProd\temp\" />
      <add key="reltemp" value="http://photogallery.botcodelocal.com/cdn/content/temp/" />
      <add key="contenturl" value="http://photogallery.botcodelocal.com/cdn/content/" />
      <add key="contenturl1" value="http://photogallery.botcodelocal.com/cdn/content1/" />
    </appSettings>-->
		<!--Prod-->
		<appSettings>
      <add key="pageSize" value="1000" />
      <add key="passminchars" value="8" />
      <add key="defaultpassword" value="password" />
      <add key="domain" value="http://freshpin.com/" />
      <add key="imagepath" value="J:\FreshPinProd\" />
      <add key="uploadedimagepath" value="J:\FreshPinProd\uploaded\" />
      <add key="uploadedimagerelpath" value="http://freshpin.com/cdn/content/uploaded/" />
      <add key="inviteurl" value="invite" />
      <add key="authcookie" value="auth" />
      <add key="infocookie" value="info" />
      <add key="temp" value="J:\FreshPinProd\temp\" />
      <add key="reltemp" value="http://freshpin.com/cdn/content/temp/" />
      <add key="contenturl" value="http://freshpin.com/cdn/content/" />     
    </appSettings>
		<system.web>
			<authentication mode="Windows" />
			<customErrors mode="Off"></customErrors>
			<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
			<!--Prod-->
			<!--<httpModules>
        <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
        <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
        <add name="HttpModule" type="PindexProd.HttpModule"  />
        <add name="UnManagedHttpModule" type="PindexProd.UnManagedHttpModule" />
        <add name="CompressionModule" type="blowery.Web.HttpCompress.HttpModule, blowery.web.HttpCompress" />
      </httpModules>-->
		</system.web>
		<system.webServer>
			<modules>
				<add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
				<add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
				<add name="UnManagedHttpModule" type="PindexProd.UnManagedHttpModule" />
				<add name="CompressionModule" type="blowery.Web.HttpCompress.HttpModule, blowery.web.HttpCompress" />
			</modules>
			<urlCompression doDynamicCompression="false" doStaticCompression="false" />
			<staticContent>
				<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			</staticContent>
			<security>
				<requestFiltering>
					<fileExtensions>
						<remove fileExtension=".ascx" />
						<add fileExtension=".ascx" allowed="true" />
					</fileExtensions>
				</requestFiltering>
			</security>
		</system.webServer>
		<system.net>
			<mailSettings>
				<smtp from="botcode.freshpin@gmail.com" deliveryMethod="Network">
					<network defaultCredentials="false" enableSsl="true" host="smtp.gmail.com" password="password123!@#" port="587" userName="botcode.freshpin@gmail.com" />
				</smtp>
				<!--Prod-->
				<!--<smtp from="support@pinpolish.com" deliveryMethod="Network">
          <network defaultCredentials="false" host="localhost" userName="support@pinpolish.com" />
        </smtp>-->
			</mailSettings>
		</system.net>
		<applicationSettings>
			<pindex.Properties.Settings>
				<setting name="ExecAllImages" serializeAs="String">
					<value>function getAttribute(tag, attr) { var elems = document.getElementsByTagName(tag); var urls = []; for (var i = 0, l = elems.length; i &lt; l; i++) {urls.push(elems[i][attr]);} return urls.join(',');};getAttribute('img', 'src') ;</value>
				</setting>
			</pindex.Properties.Settings>
		</applicationSettings>
	</location>
	<system.web>
		<compilation>
			<assemblies>
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.Build.Utilities.v4.0, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.Build.Tasks.v4.0, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" /></assemblies></compilation></system.web></configuration>
