<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <remove name="resizer" />
    <remove name="applicationSettings" />
    <remove name="blowery.web" />
    <remove name="urlrewritingnet" />
    <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="pindex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="blowery.web">
      <section name="httpCompress" type="blowery.Web.HttpCompress.SectionHandler, blowery.Web.HttpCompress" />
    </sectionGroup>
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <location path="." inheritInChildApplications="false">
    <blowery.web>
      <httpCompress preferredAlgorithm="gzip">
        <excludedMimeTypes>
          <add type="image/jpeg" />
          <add type="image/gif" />
          <add type="image/png" />
        </excludedMimeTypes>
      </httpCompress>
    </blowery.web>
    <resizer>
      <sizelimits totalBehavior="ignorelimits" />
      <pipeline fakeExtensions=".ashx" />
      <plugins>
        <add name="DiskCache">
          <diskCache dir="~/imagecache" autoClean="false" hashModifiedDate="false" enabled="true" subfolders="0" cacheAccessTimeout="15000" asyncWrites="true" asyncBufferSize="10485760"/>
        </add>
        <add name="image404">
          <image404 baseDir="~/img/" default="default_thumbnail.jpg" />
        </add>
      </plugins>
    </resizer>
    <urlrewritingnet rewriteOnlyVirtualUrls="true" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
      <rewrites>
        <add ignoreCase="true" virtualUrl="~/home" rewriteUrlParameter="ExcludeFromClientQueryString" name="home" destinationUrl="default.aspx" />
        <add ignoreCase="true" virtualUrl="~/about" rewriteUrlParameter="ExcludeFromClientQueryString" name="about" destinationUrl="about.aspx" />
        <add ignoreCase="true" virtualUrl="~/GET" rewriteUrlParameter="ExcludeFromClientQueryString" name="GET" destinationUrl="GET.ashx" />
        <add ignoreCase="true" virtualUrl="~/POST" rewriteUrlParameter="ExcludeFromClientQueryString" name="POST" destinationUrl="POST.ashx" />
        <add ignoreCase="true" virtualUrl="~/invite" rewriteUrlParameter="ExcludeFromClientQueryString" name="invite" destinationUrl="GET.ashx?t=invite" />
        <add ignoreCase="true" virtualUrl="~/settings" rewriteUrlParameter="ExcludeFromClientQueryString" name="settings" destinationUrl="settings.aspx" />
      </rewrites>
    </urlrewritingnet>
    <connectionStrings>
      <add name="DataConnectionString" connectionString="Data Source=botcodesql.cloudapp.net;Initial Catalog=Pinjimu;Persist Security Info=True;User ID=pinadmin;Password=Fresh123!@#;connection timeout=60;Max Pool Size = 1000;Min Pool Size = 100;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <!--Prod Azure-->
    <!--<connectionStrings>
      <add name="DataConnectionString" connectionString="Data Source=10.4.1.5;Initial Catalog=Pinjimu;Persist Security Info=True;User ID=pinadmin;Password=Fresh123!@#;connection timeout=60;Max Pool Size = 1000;Min Pool Size = 100;" providerName="System.Data.SqlClient" />
    </connectionStrings>-->
    <appSettings>
      <add key="PageSize" value="1000" />
      <add key="PassMinChars" value="8" />
      <add key="AppCookies" value="pauth,info" />
      <add key="UserBlankImg" value="img/userImage.gif" />
      <add key="CDN" value="http://cdn.pinjimu.com/" />
      <add key="RWPointsDed" value="50" />
      <add key="DefaultPassword" value="password" />
      <add key="Domain" value="http://pinjimu.com/" />
      <add key="ImagePath" value="J:\FreshPinProd\" />
      <add key="UploadedImagePath" value="C:\inetpub\wwwroot\pindex\Pinjimu\Uploaded\" />
      <add key="UploadedImageRelPath" value="http://pinjimu.com/Uploaded/" />
      <add key="AuthCookie" value="pauth" />
      <add key="InfoCookie" value="info" />
      <add key="Temp" value="C:\inetpub\wwwroot\pindex\Pinjimu\temp\" />
      <add key="RelTemp" value="http://pinjimu.com/temp/" />
      <add key="ContentUrl" value="http://photogallery.botcodelocal.com/cdn/content/" />
    </appSettings>
    <!--Prod Azure-->
    <!--<appSettings>
      <add key="PageSize" value="1000" />
      <add key="PassMinChars" value="8" />
      <add key="AppCookies" value="pauth,info" />
      <add key="UserBlankImg" value="img/userImage.gif" />
      <add key="CDN" value="http://cdn.pinjimu.com/" />
      <add key="RWPointsDed" value="50" />
      <add key="DefaultPassword" value="password" />
      <add key="Domain" value="http://pinjimu.com/" />
      <add key="ImagePath" value="F:\Websites\PinBoardSites\cdn\Content\" />
      <add key="UploadedImagePath" value="F:\Websites\PinBoardSites\cdn\Content\pinjimuuploaded\" />
      <add key="UploadedImageRelPath" value="http://cdn.pinjimu.com/Content/pinjimuuploaded/" />
      <add key="AuthCookie" value="pauth" />
      <add key="InfoCookie" value="info" />
      <add key="Temp" value="F:\Websites\PinBoardSites\cdn\Content\pinjimutemp\" />
      <add key="RelTemp" value="http://cdn.pinjimu.com/Content/pinjimutemp/" />
      <add key="ContentUrl" value="http://cdn.pinjimu.com/Content/" />
    </appSettings>-->
    <system.web>
      <compilation debug="true" targetFramework="4.0">
        <assemblies>
          <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </assemblies>
      </compilation>
      
      <authentication mode="Windows" />
      <customErrors mode="Off"></customErrors>
      <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
      <!--<httpModules>
        <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"  />
        <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
        <add name="HttpModule" type="Pinjimu.HttpModule"  />
     </httpModules>-->
    </system.web>
    <system.webServer>
      <modules>
        <!--<add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />-->
        <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
        <!--<add name="CompressionModule" type="blowery.Web.HttpCompress.HttpModule, blowery.web.HttpCompress" />-->
        <!--<add name="HttpModule" type="Pinjimu.HttpModule" preCondition="managedHandler" />-->
      </modules>
      <rewrite>
        <rules>
          <rule name="settings" patternSyntax="ExactMatch">
            <match url="settings" />
            <action type="Rewrite" url="settings.aspx" />
          </rule>
          <rule name="about" patternSyntax="ExactMatch">
            <match url="about" />
            <action type="Rewrite" url="about.aspx" />
          </rule>
          <rule name="GET" patternSyntax="ExactMatch">
            <match url="GET" />
            <action type="Rewrite" url="GET.ashx" />
          </rule>
          <rule name="POST" patternSyntax="ExactMatch">
            <match url="POST" />
            <action type="Rewrite" url="POST.ashx" />
          </rule>
          <rule name="invite" patternSyntax="ExactMatch">
            <match url="invite" />
            <action type="Rewrite" url="GET.ashx?t=invite" />
          </rule>
         
          <rule name="Block Direct ASHX Requests" patternSyntax="Wildcard" stopProcessing="true">
            <match url="*" />
            <conditions>
              <add input="{URL}" pattern="*.ashx" />
            </conditions>
            <action type="CustomResponse" statusCode="404" statusReason="File or directory not found." statusDescription="The resource you are looking for might have been removed, had its name changed, or is temporarily unavailable." />
          </rule>
          <rule name="userprod" stopProcessing="true">
            <match url="^([^/]+)/?$" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="user.aspx?user={R:1}" />
          </rule>
        </rules>
      </rewrite>
      <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true" />
      <staticContent>
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      </staticContent>
      <security>
        <requestFiltering>
          <fileExtensions>
            <remove fileExtension=".ascx" />
            <add fileExtension=".ascx" allowed="true" />
          </fileExtensions>
        </requestFiltering>
      </security>
    </system.webServer>
    <system.net>
      <mailSettings>
        <!--<smtp from="botcode.freshpin@gmail.com" deliveryMethod="Network">
          <network defaultCredentials="false" enableSsl="true" host="smtp.gmail.com" password="password123!@#" port="587" userName="botcode.freshpin@gmail.com" />
        </smtp>-->
        <!--Prod-->
        <smtp from="support@pinjimu.com" deliveryMethod="Network">
          <network defaultCredentials="true" host="127.0.0.1" />
        </smtp>
      </mailSettings>
    </system.net>
    <applicationSettings>
      <pindex.Properties.Settings>
        <setting name="ExecAllImages" serializeAs="String">
          <value>function getAttribute(tag, attr) { var elems = document.getElementsByTagName(tag); var urls = []; for (var i = 0, l = elems.length; i &lt; l; i++) {urls.push(elems[i][attr]);} return urls.join(',');};getAttribute('img', 'src') ;</value>
        </setting>
      </pindex.Properties.Settings>
    </applicationSettings>
  </location>
</configuration>
