<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Utilities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Utilities.Properties.Settings.ATDatabaseConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\App_Data\ATDatabase.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
        <add name="Utilities.Properties.Settings.CustomerDatabaseConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\App_Data\CustomerDatabase.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <applicationSettings>
        <Utilities.Properties.Settings>
            <setting name="ColumnGraphXaml" serializeAs="String">
                <value>&lt;vc:Chart xmlns:vc="clr-namespace:Visifire.Charts;assembly=SLVisifire.Charts" Width="{0}" Height="{1}" BorderThickness="0" Theme="Theme3" View3D="True" AnimationEnabled="True" Watermark="True" LightingEnabled="True"  Bevel="True"  ShadowEnabled="True" &gt;
    &lt;vc:Chart.Titles&gt;
        &lt;vc:Title Text="{2}" /&gt;
    &lt;/vc:Chart.Titles&gt;
    &lt;vc:Chart.Legends&gt;
        &lt;vc:Legend Enabled="True" HorizontalAlignment="Center" /&gt;
    &lt;/vc:Chart.Legends&gt;
    &lt;vc:Chart.AxesX&gt;
        &lt;vc:Axis Title="{3}" /&gt;
    &lt;/vc:Chart.AxesX&gt;
    &lt;vc:Chart.AxesY&gt;
        &lt;vc:Axis Title="{4}" AxisType="Primary" AxisMinimum="{5}" AxisMaximum="{6}" /&gt;
    &lt;/vc:Chart.AxesY&gt;
    &lt;vc:Chart.Series&gt;
        &lt;vc:DataSeries RenderAs="Column" AxisYType="Primary"  &gt;
            &lt;vc:DataSeries.DataPoints&gt;{7}&lt;/vc:DataSeries.DataPoints&gt;
        &lt;/vc:DataSeries&gt;
    &lt;/vc:Chart.Series&gt;
&lt;/vc:Chart&gt;</value>
            </setting>
            <setting name="LineGraphXaml" serializeAs="String">
                <value>&lt;vc:Chart xmlns:vc="clr-namespace:Visifire.Charts;assembly=SLVisifire.Charts"  Bevel="True"
Width="{0}" Height="{1}" Theme="Theme3" AnimatedUpdate="true"&gt;

&lt;vc:Chart.Titles&gt;
&lt;vc:Title Text="{2}"/&gt;
&lt;/vc:Chart.Titles&gt;

&lt;vc:Chart.AxesX&gt;
&lt;vc:Axis Title="{3}"  &gt;
&lt;vc:Axis.AxisLabels&gt;
&lt;vc:AxisLabels Angle="-30"/&gt;
&lt;/vc:Axis.AxisLabels&gt;
&lt;/vc:Axis&gt;
&lt;/vc:Chart.AxesX&gt;

&lt;vc:Chart.AxesY&gt;
&lt;vc:Axis AxisMinimum="{4}" AxisMaximum="{5}" Title="{6}" /&gt;
&lt;/vc:Chart.AxesY&gt;

&lt;vc:Chart.Legends&gt;
&lt;vc:Legend x:Name="Legend1" Background="Black" LightingEnabled="False" FontSize="10"/&gt;
&lt;/vc:Chart.Legends&gt;

&lt;vc:Chart.Series&gt;
{7}
&lt;/vc:Chart.Series&gt;
&lt;/vc:Chart&gt;</value>
            </setting>
            <setting name="ColumnGraphXamlWithTrendLines" serializeAs="String">
                <value>&lt;vc:Chart xmlns:vc="clr-namespace:Visifire.Charts;assembly=SLVisifire.Charts" Width="{0}" Height="{1}" BorderThickness="0" Theme="Theme3" View3D="True" AnimationEnabled="True" Watermark="True" LightingEnabled="True"  Bevel="True"  ShadowEnabled="True" &gt;
    &lt;vc:Chart.Titles&gt;
        &lt;vc:Title Text="{2}" /&gt;
    &lt;/vc:Chart.Titles&gt;
{3}
    &lt;vc:Chart.Legends&gt;
        &lt;vc:Legend Enabled="True" HorizontalAlignment="Center" /&gt;
    &lt;/vc:Chart.Legends&gt;
    &lt;vc:Chart.AxesX&gt;
        &lt;vc:Axis Title="{4}" /&gt;
    &lt;/vc:Chart.AxesX&gt;
    &lt;vc:Chart.AxesY&gt;
        &lt;vc:Axis Title="{5}" AxisType="Primary" AxisMinimum="{6}" AxisMaximum="{7}" /&gt;
    &lt;/vc:Chart.AxesY&gt;
    &lt;vc:Chart.Series&gt;
        &lt;vc:DataSeries RenderAs="Column" AxisYType="Primary"  &gt;
            &lt;vc:DataSeries.DataPoints&gt;{8}&lt;/vc:DataSeries.DataPoints&gt;
        &lt;/vc:DataSeries&gt;
    &lt;/vc:Chart.Series&gt;
&lt;/vc:Chart&gt;</value>
            </setting>
            <setting name="LineGraphXamlWithTrendLines" serializeAs="String">
                <value>&lt;vc:Chart xmlns:vc="clr-namespace:Visifire.Charts;assembly=SLVisifire.Charts"  Bevel="True"
Width="{0}" Height="{1}" Theme="Theme3" AnimatedUpdate="true"&gt;

&lt;vc:Chart.Titles&gt;
&lt;vc:Title Text="{2}"/&gt;
&lt;/vc:Chart.Titles&gt;
{3}
&lt;vc:Chart.AxesX&gt;
&lt;vc:Axis Title="{4}"  &gt;
&lt;vc:Axis.AxisLabels&gt;
&lt;vc:AxisLabels Angle="-30"/&gt;
&lt;/vc:Axis.AxisLabels&gt;
&lt;/vc:Axis&gt;
&lt;/vc:Chart.AxesX&gt;

&lt;vc:Chart.AxesY&gt;
&lt;vc:Axis AxisMinimum="{5}" AxisMaximum="{6}" Title="{7}" /&gt;
&lt;/vc:Chart.AxesY&gt;

&lt;vc:Chart.Legends&gt;
&lt;vc:Legend x:Name="Legend1" Background="Black" LightingEnabled="False" FontSize="10"/&gt;
&lt;/vc:Chart.Legends&gt;

&lt;vc:Chart.Series&gt;
{8}
&lt;/vc:Chart.Series&gt;
&lt;/vc:Chart&gt;</value>
            </setting>
        </Utilities.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
