<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <remove name="resizer" />
    <remove name="applicationSettings" />
    <remove name="blowery.web" />
    <remove name="urlrewritingnet" />
    <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="pindex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="blowery.web">
      <section name="httpCompress" type="blowery.Web.HttpCompress.SectionHandler, blowery.Web.HttpCompress" />
    </sectionGroup>
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <location path="." inheritInChildApplications="false">
    <blowery.web>
      <!--
			Here's an example on how to change the algorithm or compression level			
      <compressionModule preferredAlgorithm="deflate|gzip" compressionLevel="high|normal|low"/>			
			so, to use deflate by default, and high compression, you would use the following line
			-->
      <httpCompress preferredAlgorithm="gzip">
        <excludedMimeTypes>
          <add type="image/jpeg" />
          <add type="image/gif" />
        </excludedMimeTypes>
      </httpCompress>
    </blowery.web>
    <resizer>
      <sizelimits totalBehavior="ignorelimits" />
      <pipeline fakeExtensions=".ashx" />
      <plugins></plugins>
    </resizer>
    <urlrewritingnet rewriteOnlyVirtualUrls="true" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
      <rewrites>
        <add name="userhome" virtualUrl="~/users/(.*)" redirect="Application" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/user?name=$1" ignoreCase="true" />
        <add name="user" virtualUrl="~/user" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/User.ashx" ignoreCase="true" />
        <add ignoreCase="true" virtualUrl="~/tagging/login" rewriteUrlParameter="ExcludeFromClientQueryString" name="tagging" destinationUrl="tagging/login.html" />
        <add ignoreCase="true" virtualUrl="~/home" rewriteUrlParameter="ExcludeFromClientQueryString" name="home" destinationUrl="default.aspx" />
        <add ignoreCase="true" virtualUrl="~/settings" rewriteUrlParameter="ExcludeFromClientQueryString" name="settings" destinationUrl="settings.aspx" />
        <add ignoreCase="true" virtualUrl="~/signup" rewriteUrlParameter="ExcludeFromClientQueryString" name="signup" destinationUrl="signupnew.html" />
        <add ignoreCase="true" virtualUrl="~/login" rewriteUrlParameter="ExcludeFromClientQueryString" name="login" destinationUrl="login.html" />
        <add ignoreCase="true" virtualUrl="~/hostpinparty" rewriteUrlParameter="ExcludeFromClientQueryString" redirect="Domain" name="hostpinparty" destinationUrl="/pindex/cdn/hostpinparty.html" />
        <add ignoreCase="true" virtualUrl="~/GET" rewriteUrlParameter="ExcludeFromClientQueryString" name="GET" destinationUrl="GET.ashx" />
        <add ignoreCase="true" virtualUrl="~/POST" rewriteUrlParameter="ExcludeFromClientQueryString" name="POST" destinationUrl="POST.ashx" />
        <add ignoreCase="true" virtualUrl="~/invite" rewriteUrlParameter="ExcludeFromClientQueryString" name="invite" destinationUrl="GET.ashx?t=invite" />
        <add ignoreCase="true" virtualUrl="~/changepassword" rewriteUrlParameter="ExcludeFromClientQueryString" name="changepassword" destinationUrl="changepassword.html" />
        <add ignoreCase="true" virtualUrl="~/boards" rewriteUrlParameter="ExcludeFromClientQueryString" name="boards" destinationUrl="boardthumbs.html" />
      </rewrites>
    </urlrewritingnet>
    <!--<connectionStrings>
      <add name="EyeShadowConnectionString" connectionString="Data Source=192.168.2.47;Initial Catalog=EyeShadow;Persist Security Info=True;User ID=sa;password=password123!@#" providerName="System.Data.SqlClient" />
    </connectionStrings>-->
    <!--Prod-->
    <connectionStrings>
      <add name="EyeShadowConnectionString" connectionString="Data Source=161.58.92.137;Initial Catalog=EyeShadow;Persist Security Info=True;User ID=sa;password=password123!@#" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <!--<appSettings>
      <add key="firstPageSize" value="50" />
      <add key="pageSize" value="1000" />
      <add key="passminchars" value="8" />
      <add key="defaultpassword" value="password" />
      <add key="domain" value="http://freshpindev.botcodelocal.com/EyeShadow/" />
      <add key="imagepath" value="G:\FreshPinProd\EyeShadow\" />
      <add key="uploadedimagepath" value="C:\inetpub\wwwroot\pindex\EyeShadow\uploaded\" />
      <add key="uploadedimagerelpath" value="http://freshpindev.botcodelocal.com/EyeShadow/uploaded/" />
      <add key="inviteurl" value="invite" />
      <add key="authcookie" value="nauth" />
      <add key="infocookie" value="info" />
      <add key="temp" value="C:\inetpub\wwwroot\pindex\EyeShadow\temp\" />
      <add key="reltemp" value="http://freshpindev.botcodelocal.com/EyeShadow/temp/" />
      <add key="contenturl" value="http://photogallery.botcodelocal.com/cdn/content/" />
      <add key="contenturl1" value="http://photogallery.botcodelocal.com/cdn/content1/" />
    </appSettings>-->
    <!--Staging-->
    <!--<appSettings>
      <add key="firstPageSize" value="50" />
      <add key="passminchars" value="8" />
      <add key="pageSize" value="1000" />
      <add key="defaultpassword" value="password" />
      <add key="domain" value="http://photogallery.botcodelocal.com/EyeShadow/" />
      <add key="imagepath" value="G:\FreshPinProd\EyeShadowuploaded\" />
      <add key="uploadedimagepath" value="G:\FreshPinProd\EyeShadowuploaded\" />
      <add key="uploadedimagerelpath" value="http://photogallery.botcodelocal.com/cdn/content/EyeShadowuploaded/" />
      <add key="inviteurl" value="invite" />
      <add key="authcookie" value="nauth" />
      <add key="infocookie" value="info" />
      <add key="temp" value="G:\FreshPinProd\EyeShadowtemp\" />
      <add key="reltemp" value="http://photogallery.botcodelocal.com/cdn/content/EyeShadowtemp/" />
      <add key="contenturl" value="http://photogallery.botcodelocal.com/cdn/content/" />
      <add key="contenturl1" value="http://photogallery.botcodelocal.com/cdn/content1/" />
    </appSettings>-->
    <!--Prod-->
    <appSettings>
      <add key="firstPageSize" value="50" />
      <add key="pageSize" value="1000" />
      <add key="passminchars" value="8" />
      <add key="defaultpassword" value="password" />
      <add key="domain" value="http://pinpolish.com/" />
      <add key="imagepath" value="E:\Websites\FreshPin\cdn\FreshPinProd\EyeShadow\" />
      <add key="uploadedimagepath" value="E:\Websites\FreshPin\cdn\FreshPinProd\EyeShadowuploaded\" />
      <add key="uploadedimagerelpath" value="http://freshpin.com/cdn/freshpinprod/EyeShadowuploaded/" />
      <add key="inviteurl" value="invite" />
      <add key="authcookie" value="nauth" />
      <add key="infocookie" value="info" />
      <add key="temp" value="E:\Websites\FreshPin\cdn\FreshPinProd\EyeShadowtemp\" />
      <add key="reltemp" value="http://freshpin.com/cdn/freshpinprod/EyeShadowtemp/" />
      <add key="contenturl" value="http://freshpin.com/cdn/freshpinprod/" />
      <add key="contenturl1" value="http://photogallery.botcodelocal.com/cdn/content1/" />
    </appSettings>
    <system.web>
      <authentication mode="Windows" />
      <customErrors mode="Off"></customErrors>
      <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
      <!--Prod-->
      <httpModules>
        <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
        <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
        <add name="HttpModule" type="EyeShadow.HttpModule"  />
        <add name="UnManagedHttpModule" type="EyeShadow.UnManagedHttpModule" />
        <add name="CompressionModule" type="blowery.Web.HttpCompress.HttpModule, blowery.web.HttpCompress" />
      </httpModules>
    </system.web>
    <system.webServer>
      <modules>
        <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
        <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
        <add name="HttpModule" type="EyeShadow.HttpModule" preCondition="managedHandler" />
        <add name="UnManagedHttpModule" type="EyeShadow.UnManagedHttpModule" />
        <add name="CompressionModule" type="blowery.Web.HttpCompress.HttpModule, blowery.web.HttpCompress" />
      </modules>
      <urlCompression doDynamicCompression="false" doStaticCompression="false" />
      <staticContent>
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      </staticContent>
      <security>
        <requestFiltering>
          <fileExtensions>
            <remove fileExtension=".ascx" />
            <add fileExtension=".ascx" allowed="true" />
          </fileExtensions>
        </requestFiltering>
      </security>
    </system.webServer>
    <system.net>
      <mailSettings>
        <!--<smtp from="botcode.freshpin@gmail.com" deliveryMethod="Network">
          <network defaultCredentials="false" enableSsl="true" host="smtp.gmail.com" password="password123!@#" port="587" userName="botcode.freshpin@gmail.com" />
        </smtp>-->
        <!--Prod-->
        <smtp from="support@pinpolish.com" deliveryMethod="Network">
          <network defaultCredentials="false" host="localhost" userName="support@pinpolish.com" />
        </smtp>
      </mailSettings>
    </system.net>
    <applicationSettings>
      <pindex.Properties.Settings>
        <setting name="ExecAllImages" serializeAs="String">
          <value>function getAttribute(tag, attr) { var elems = document.getElementsByTagName(tag); var urls = []; for (var i = 0, l = elems.length; i &lt; l; i++) {urls.push(elems[i][attr]);} return urls.join(',');};getAttribute('img', 'src') ;</value>
        </setting>
      </pindex.Properties.Settings>
    </applicationSettings>
  </location>
</configuration>